.home {
    height:80vh;
    background: linear-gradient(rgba(33,33,33,0.522),rgba(33,33,33,0.522)), url('../../assets/viber_image_2024-05-21_13-27-11-954.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    .secContainer{
        .homeText {
            text-align: center;

            .title{
                color:aliceblue;
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;

            }

            .subTitle{
                color:aquamarine;
                opacity: .9;
                font-size: 13px;
                padding:1rem 0;
                max-width: 70%;
                text-align: center;
                margin: auto;
            }

            .btn{
                padding: .6rem 1.5rem;
            }
        }
        .homeCard{
            width:80%;
            border-radius: 1rem;
            padding: 2rem;
            background-color: azure;
            position: absolute;
            gap:1rem;
            justify-content: center;
            bottom: -35%;
            transform: translate(-50%);
            left: 50%;
            box-shadow: 0 2px 8px 4px rgb(178, 178, 178, 0.45);

            .locationDiv, .distDiv, .priceDiv{
                width:100%;
                label{
                    display: block;
                    color:blanchedalmond;
                    font-weight: 500;
                    font-size: 13px;
                    padding-bottom: .4rem;
                }
                input{
                    width:100%;
                    background-color: aquamarine;
                    border-radius: 10px;
                    border:none;
                    padding: 10px;
                    font-size:13px;
                    font-weight: 500;

                    &::placeholder{
                        font-size: 13px;
                        opacity: .5;
                        font-weight: 400;
                    }
                    &:focus{
                        outline: none;

                    }
                }
            }
            .btn{
                width: 100%;
                padding:.6rem 1.5rem;
                color:white;
                font-weight: 600;
            }
        }
    }
}
