.navBarSection {
    /* Stilovi za .navBarSection ako su potrebni */
  }
  
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    padding: 1rem;
  }
  
.header .logoDiv .logo {
    color: #02121c; /* Boja logo teksta */
    cursor: pointer;
    display: flex; /* Dodao display flex da bi align-items radilo */
    align-items: center;
    justify-self: center;
  }
  h1{
    font-weight: 2000;
  }
  .navBar {
    display: flex;
    align-items: center;
  }
  
  .navlists {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    margin-right: 1rem;
  }
  
  .navLink {
    text-decoration: none;
    color: inherit;
  }
  
  .headerBtns {
    display: flex;
  }
  
  .btn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #02121c; /* Promijenite boju po potrebi */
    color: white;
    cursor: pointer;
  }
  
  .btn.loginBtn {
    background-color: transparent;
    color: #02121c; /* Boja za login dugme */
  }
  
  .closeNavbar {
    display: none; /* Prilagodite po potrebi */
  }
  
  .toggleNavbar {
    display: none; /* Prilagodite po potrebi */
  }
  
  .icon {
    font-size: 1.5rem;
  }
@media screen and (max-width: 768px) {
    .navBar {
      background: grey;
      position: absolute;
      height: max-content;
      padding: 1rem;
      width: 100%;
      top: 0;
      left: -500%;
      box-shadow: 0 2px 4px rgba(209, 209, 209, 0.94);
      transition: 0.5s ease;
      z-index: 1000;
    }
    .navlists {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: auto;
    }
    .navItem {
      padding: 1rem 0;
    }
    .navLink {
      color: black;
      font-size: 1rem; /* Adjusted font size for example */
      font-weight: 600;
    }
    .navLink:hover {
      color: orange;
    }
    .headerBtns {
      flex-direction: column;
    }
    .btn {
      margin-top: 1rem;
    }
    .btn a {
      font-weight: 600;
    }
    .btn a:hover {
      color: orange;
    }
    .loginBtn {
      background: none;
      border: 1px solid;
      color: green;
    }
    .loginBtn a {
      color: black;
    }
    .loginBtn a:hover {
      background: grey;
      color: white;
    }
    .closeNavbar {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: white;
    }
    .closeNavbar:hover .icon {
      color: black;
    }
  }
  
  
  
