@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
    transition: .3s ease;
}
:root{
    --primary-color: #3498db;  /* Blue */
  --secondary-color: #2ecc71;  /* Green */
  --accent-color: #e74c3c;  /* Red */
  --background-color: #ecf0f1;  /* Light Grey */
  --text-color: #2c3e50;  /* Dark Grey */
}
a{
    text-decoration: none;
}
ul{
    display: flex;
}
li{
    list-style:none;
}
.section{
    padding:4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon{
    font-size:2rem;
    cursor:pointer;
    color: green;

}
.grid {
    display:grid;
    align-items: center;
}
.btn{
    padding:.4rem 1.5rem;
    background-color: var(--primary-color);
    border:none;
    outline:none;
    border-radius: 3rem;
    cursor:pointer;
}
.btn a {
    color:var(--secondary-color);
    font-weight:500;
}
.btn:hover{
    color:var(--secondary-color);
}
.secIntro{
    max-width: 70%;
    text-align: center;
    margin: 0 auto 2rem;
}
.secIntro .secTitle {
    color:var(--accent-color);
    line-height: 1.5rem;
    padding-bottom: .5rem;
}
.secIntro p{
    font-size: 13px;
    color:var(--primary-color);
    font-weight:500;
}
img, video {
    width:100%;
    height:auto;
}
input{
    font-size:100%;
}

@media screen and (min-width: 556px) {
    .mainContent, .singlePost {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 884px) {
    .mainContent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 75% !important;
        margin: auto !important;
    }
    .section {
        padding: 5rem 0 3rem;
    }
    .secIntro {
        margin: 0 auto 3rem;
    }
    .secIntro .secTitle {
        line-height: 2rem;
        padding-bottom: 1rem;
        font-size: 2.2rem;
    }
    .secIntro p {
        font-size: 15px;
    }
}

@media screen and (min-width: 2560px) {
    body {
        zoom: 1.7;
    }
}

/* page */
::selection {
    color: pink;
    background: var(--primary-color);
}
::-webkit-scrollbar {
    width: 10px;
    background: purple;
}
::-webkit-scrollbar-thumb {
    background: palegoldenrod;
    border-radius: 10px;
    cursor: pointer;
}

