.popular{
    padding-top: 15rem;

    .secContainer{
        .secHeader{
            flex-direction: column;
            align-items: flex-start;
            gap:1rem;

            .textDiv{
                .secTitle{
                    color:black;
                    line-height: 1.5rem;
                    padding-bottom: .5rem;
                }
                p {
                    font-size: 13px;
                    color:black;
                    font-weight: 500;
                }
            }

            .iconsDiv{
                gap:.5rem;
                .icon{
                    padding: .5rem;
                    background-color: grey;
                    border-radius: 50%;
                    font-size: 2.5rem;
                    &:hover{
                        background-color:black;
                        column-rule:white;
                    }
                }

                .leftIcon{
                    background-color: black;
                    color:white;
                    &:hover{
                        background-color: grey;
                        color:black;
                    }
                }

                .rightIcon{
                    background-color: black;
                    color:white;
                    &:hover{
                        background-color: grey;
                        color:black;
                    }
                }
            }
        }
        .mainContent{
            padding: 2rem 0;
            gap:1rem;

            .singleDestination{
                overflow:hidden;
                border-radius:1rem;
                box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
                
                .destImage{
                    height:200px;
                    width:100%;
                    position:relative;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .overlayInfo{
                        position:absolute;
                        display:flex;
                        padding:0;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        background-color: rgba(0,0,0, 0.759);
                        bottom: 0;
                        width: 100%;
                        height: 0;
                        overflow: hidden;

                        h3{
                            color:white;
                            font-weight: 600;
                        }
                        p{
                            color:white;
                            opacity:.7;
                            font-size: 13px;
                        }
                        .icon{
                            color:white;
                            position: absolute;
                            right: 10px;
                            bottom:10px;
                            padding:.5rem;
                            background-color: green;
                            font-size: 2.5rem;
                            border-radius: 50%;
                            border:1px solid transparent;
                            transition: .3s ease;

                            &:hover{
                                background-color:black;
                                border:1px solid green;
                            }

                        }

                    }
                }
                .destFooter{
                    padding:1rem;

                    .number{
                        font-size: 2rem;
                        font-weight: 700;
                        color:black;
                        position: relative;
                        width: max-content;

                        &::after{
                            content: '';
                            position: absolute;
                            background-color: green;
                            top:45%;
                            right:-150%;
                            height:5px;
                            width:45px;
                            border-radius: 1rem;
                        }
                    }

                    .destText{
                        display: flex;
                        justify-content: space-between;

                        h6{
                            color:black;
                            font-size: 15px;
                        }

                        .flex{
                            font-size: 16px;
                            font-weight: 600;
                            align-items: flex-start;
                            transform: translateY(5px);

                            .icon{
                                color:green;
                            }
                        }
                    }
                }

                &:hover{
                    .overlayInfo{
                        overflow:visible;
                        padding:1rem 1.5rem;
                        height:100%;
                    }
                    
                }
            }
        }
    }

}